*{
    margin: 0;
        
}
header{
    width: 100%;
    height: 5vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation{
    margin-left: auto;
    margin-right: 1vw;
    border: 10px solid red;
    background-color: red;
}
.logo{
    /* font-size: 20px; */
    margin-left: 1vw;
    border: 10px solid red;
    background-color: red;
    height: 2vw;
}
aside{
    float: left;
    background-color: rgb(0, 17, 255);
    width: 30vw;
    height: 45vw;
}
main{
    background-color: cadetblue;
    width: 100%;
    height: 45vw;
}
footer{
    width: 100%;
    height: 5vw;
    background-color: burlywood;
}